{# <div class="card" style="width: 18rem;">
  <img src="{{ product.getImageSmallUrl }}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-title">{{ product.title }}</p>
    <p class="card-text">{{product.price|format_currency('EUR', locale='fr')}}</p>
  </div>
</div> #}

<a href="{{ path('product.get',{'id':product.id}) }}">
    <div class="mycard">
      <div class="image">
        <img src="{{product.getImageSmallUrl == "" ?  asset('img/placeholder-image.webp')  : product.getImageSmallUrl }}" alt=""></img>
      </div>
      {# <div class="image">
        <rect width="100%" height="100%" fill="#868e96" class="m-auto"><img src="{{product.getImageSmallUrl}}" alt="" class="object-fit-cover w-100 h-100"></img></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      </div> #}
      <div class="d-flex flex-column justify-content-between h-100 p-2">
        <div class="mt-1">
          <p class="card-title text-primary h6" style="color: #062925 !important;">{{product.title|length > 50 ? "#{product.title|slice(0,50)}..." : product.title}}</p>
          <p class="mt-1 text-info-emphasis">{{product.price|format_currency('EUR', locale='fr')}}</p>
        </div>
        <div class="d-flex flex-column">
          <span class="text-muted" style="font-size: 0.8rem">{{product.city}} ({{product.zipcode}})</span>
          <span class="text-muted category" style="font-size: 0.8rem">{{product.category.name}}</span>
          <span class="text-muted date" style="font-size: 0.8rem">Publié le {{product.publishdate|date('d.m.y H:i')}}</span>
        </div>
      </div>
    </div>
</a>